.dashboard-container,.dashboard-content{
    display: flex;
    flex-direction: column;
}

.dashboard-container{
    width:100%;
}
.dashboard-content{
    padding: 0 3%
}
.dashboard-title{
    font-size: 25px;
    margin : 10px 0;
}

.recent-projects-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-recent-projects{
    margin: 10px 0;
}

.meta-options span{
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}
.active-meta-option{
    background-color: #cececea9;
}