.assigned-container,.assgined-card-info{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
}

.assigned-card,.assigned-card-detail,.person-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 500;
}
.assigned-card{
    justify-content: flex-start;
    margin: 5px 0;
    border-radius: 5px;
    padding: 2px;
    padding-left:4px;
    cursor: pointer;
}
.assigned-card:hover{
    background-color: #cececea9;
    color:black
}
.assigned-container{
    margin-top:10px;
    font-weight: 400;
    padding:10px 0px;
}
.assgined-card-info p,.assigned-card-detail{
    font-size: 17px;
}
.assgined-card-info{
    margin-left:15px;
   
}
.util-title{
    font-size: 14px;
    color:gray;
    margin-bottom:10px;
    font-weight: 500;
    text-transform: uppercase;
}
.assigned-card-detail{
    color: #343f56; 
    justify-content: space-between;
    width:120%;
    font-size: 13px;
}
